<%= form_for(@colour) do |f| %>
  <% if @colour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colour.errors.count, "error") %> prohibited this colour from being saved:</h2>

      <ul>
      <% @colour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hex %><br />
    <%= f.text_field :hex %>
  </div>
  <div class="field">
    <%= f.label :red %><br />
    <%= f.text_field :red %>
  </div>
  <div class="field">
    <%= f.label :green %><br />
    <%= f.text_field :green %>
  </div>
<div class="field">
    <%= f.label :blue %><br />
    <%= f.text_field :blue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
