<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @font.url %>
</p>

<p>
  <b>Photo:</b>
  <%= @font.photo %>
</p>

<p>
  <b>Name:</b>
  <%= @font.name %>
</p>


<%= link_to 'Edit', edit_font_path(@font) %> |
<%= link_to 'Back', fonts_path %>
